.parallax-window {
  min-height: 700px;
  background: transparent;
  object-fit: cover;
  position: relative;
}

.text {
  color: white;
  text-transform: uppercase;
  h3 {
    font-family:'Lato';
    font-weight: 600;
    letter-spacing: 2px;
  }
  font-family: 'Lato';
    width: 100%;
    position: absolute;
    top: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.button {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: black;
  a {
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
  }
  &:hover {
    opacity: 80%;
  }
}
