.parallax-window {
  min-height: 700px;
  background: transparent;
  object-fit: cover;
  position: relative;
}

.text {
  color: white;
  text-transform: uppercase;
  h3 {
    font-family:'Lato';
    font-weight: 600;
    letter-spacing: 2px;
  }
  font-family: 'Lato';
    width: 100%;
    position: absolute;
    top: 30%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.order-button {
    display: flex;
    align-items: center;
    justify-content: center;
.button-special {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #5B1B14;
  text-transform: uppercase;
  a {
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
  }
  &:hover {
      box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.3);
  }
}
}

.text-special {
  .text-inside {
    background-color: white;
    padding: 50px 70px;
  }
  color: #5B1B14;
  h3 {
    text-align: center;
    font-size: 40px;
    font-family:'Lato';
    font-weight: 600;
    letter-spacing: 2px;
  }
  p {
    font-family: "Arbutus Slab", serif;
    font-size: 25px;
  }
  h4 {
    text-align: center;
    margin-bottom: 40px;
  }
    position: absolute;
    top: 50%;
    bottom: 50%;
    font-family: 'Lato';
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: black;
  a {
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
  }
  &:hover {
    opacity: 80%;
  }
}
